.main{
  background-color:white;
  font-family:Montserrat;
}
.headers{
  color: Black;
  font-family:Montserrat;
  margin:0px;
}
.sect{
  color:black;
  background: white;
  margin:0px;
}
#hea{
  margin-right:10px;
  margin-top: -18px;
}

#hea1{
  margin-left:20px;
}
.logo{
  width:100px;
  height:100px;
}
.bar li{
  display:inline;
  float: right;
  font-family:Montserrat;
}

.bar a{
  text-decoration:none;
  font-family:Montserrat;
  font-size: 15px;
}
.par{
  padding-left:5px;
  margin-top:-5px;
  text-align: left;
}
.sty{
  font-family: Montserrat;
  font-style: italic;
  font-size: 12px;
  text-align: left;
}
.Image img{
  width:250px;
  height:200px;
  margin:3px;
}
.foot{
  background-color: black;
  margin: 10px;
}
.foot a{
  font-family:Montserrat;
  font-size: 20px;
}
.footlist li{
  display:inline;
  color: grey;
  font-family: Montserrat;
  font-size: 10px;
}
}
.images{
  width :10px;
  height:20px;
  margin-top:-20px;
  padding-top:20px;
}
.para{
  color: grey;
  font-size: 15px;
  font-family: Montserrat;
}
.listitem li{
  font-size: 10px;
  font-style: italic;
  font-family: Montserrat;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
  color: grey;
  display:inline;
}
.listitem a{
  font-family: Montserrat;
  color: grey;
  font-size: 15px;
  text-decoration: none;
}
